[submodule "acp-spec"]
	path = acp-spec
	url = https://github.com/agntcy/acp-spec.git
[submodule "agent-workflow-cli"]
	path = agent-workflow-cli
	url = https://github.com/cisco-eti/agent-workflow-cli.git
